.header {
  margin-top: 45px;
  margin-bottom: 70px;
}
.header .header-nav h1 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
  max-height: max-content;
}
.header .header-nav-container {
  max-width: 1850px;
  padding: 0 32px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  .header .header-nav-container {
    padding: 0 20px;
  }
}
.header .header-nav-container-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .header-nav-container-list-itens {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 800px) {
  .header .header-nav-container-list-itens {
    display: none;
  }
}
.header .header-nav-list-expanded {
  display: flex;
  align-items: center;
  gap: 20px;
  position: static;
  width: 100%;
  margin-top: 30px;
  height: 0;
  transition: 0.4s;
  visibility: hidden;
  overflow-y: hidden;
  padding: 0 20px;
  flex-direction: column;
  gap: 10px;
}
.header .header-nav-list-expanded.ativo {
  height: 35vh;
  visibility: visible;
}
.header .header-nav-list-expanded li {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}
@media (max-width: 800px) {
  .header .header-nav-list-expanded li {
    width: 100%;
    margin-inline: auto;
  }
}

.main {
  max-width: 1850px;
  padding: 0 32px;
  margin-inline: auto;
  max-width: 1900px;
  display: flex;
  gap: 50px;
  margin-bottom: 160px;
}
@media (max-width: 800px) {
  .main {
    padding: 0 20px;
  }
}
.main-picture {
  overflow: hidden;
}
.main-picture img {
  transition: ease 0.7s;
  transform: scale(1);
  animation: opacity-anima 0.7s forwards;
}
.main-picture img:hover {
  transform: scale(1.15);
}
.main-picture img:hover {
  animation: fade 1s linear 1;
}
@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 800px) {
  .main-picture {
    margin-bottom: 50px;
  }
}
@media (max-width: 800px) {
  .main {
    display: block;
  }
}
.main-text {
  align-self: center;
  padding-right: 120px;
}
@media (max-width: 1700px) {
  .main-text {
    padding-right: 60px;
  }
}
.main-text h2 {
  font-size: 3.7rem;
  font-weight: 400;
  line-height: 3.7rem;
  color: #C4E5F6;
  margin-bottom: 32px;
  max-width: 20ch;
  margin-bottom: 32px;
}
@media (max-width: 800px) {
  .main-text h2 {
    max-width: 100%;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
.main-text p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  max-width: 45ch;
  margin-bottom: 32px;
}
@media (max-width: 800px) {
  .main-text p {
    max-width: 100%;
  }
}
.main-text a {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 400;
}
.main-text a::before {
  top: 15px;
}

.studio {
  max-width: 1850px;
  padding: 0 32px;
  margin-inline: auto;
  max-width: 1900px;
  display: flex;
  gap: 50px;
  gap: 100px;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 160px;
}
@media (max-width: 800px) {
  .studio {
    padding: 0 20px;
  }
}
@media (max-width: 1200px) {
  .studio {
    gap: 50px;
  }
}
@media (max-width: 800px) {
  .studio {
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.studio-picture {
  width: 40.6%;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .studio-picture {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .studio-picture {
    margin-bottom: 50px;
  }
}
.studio-picture img {
  transition: ease 0.7s;
  transform: scale(1);
  animation: opacity-anima 0.7s forwards;
}
.studio-picture img:hover {
  transform: scale(1.15);
}
.studio-text h2 {
  font-size: 3.7rem;
  font-weight: 400;
  line-height: 3.7rem;
  color: #C4E5F6;
  margin-bottom: 32px;
}
@media (max-width: 800px) {
  .studio-text h2 {
    display: block;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
.studio-text p {
  max-width: 33ch;
  margin-bottom: 32px;
}
@media (max-width: 800px) {
  .studio-text p {
    max-width: 100%;
  }
}
.studio-text span {
  display: block;
  margin-bottom: 20px;
}
.studio-text-list li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.studio-text-list li::before {
  content: "";
  display: inline-block;
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  background: #121212;
  border: 3px solid #D1D1D1;
  border-radius: 50%;
  margin-right: 15px;
}

.activities {
  max-width: 1900px;
  padding: 0 32px;
  text-align: center;
  margin-bottom: 160px;
}
@media (max-width: 800px) {
  .activities {
    padding: 0 20px;
  }
}
.activities-title {
  margin-bottom: 140px;
}
@media (max-width: 800px) {
  .activities-title {
    margin-bottom: 30px;
  }
}
.activities-title span {
  display: block;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.activities-title h2 {
  font-size: 5.25rem;
  font-weight: 400;
  line-height: 5.25rem;
  color: #C4E5F6;
}
@media (max-width: 800px) {
  .activities-title h2 {
    font-size: 3.7rem;
    font-weight: 400;
    line-height: 3.7rem;
    color: #C4E5F6;
    margin-bottom: 32px;
  }
}
.activities-info {
  display: flex;
  justify-content: center;
  text-align: left;
}
@media (max-width: 800px) {
  .activities-info {
    display: block;
  }
}
.activities-info h3 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #C4E5F6;
  margin-bottom: 23px;
}
@media (max-width: 800px) {
  .activities-info h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    color: #C4E5F6;
  }
}
.activities-info p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  max-width: 47.6ch;
}
@media (max-width: 800px) {
  .activities-info p {
    max-width: 100%;
  }
}
.activities-info-empty-square-first {
  position: absolute;
  width: 78px;
  height: 78px;
  border: 1px solid #FFFFFF;
  top: 40px;
  left: 60px;
}
@media (max-width: 800px) {
  .activities-info-empty-square-first {
    width: 38px;
    height: 38px;
  }
}
@media (max-width: 800px) {
  .activities-info-empty-square-first {
    top: 65px;
    left: 15px;
  }
}
.activities-info-empty-square-second {
  position: absolute;
  width: 78px;
  height: 78px;
  border: 1px solid #FFFFFF;
  transform: rotate(45deg);
  top: 165px;
  left: 50px;
}
@media (max-width: 800px) {
  .activities-info-empty-square-second {
    width: 38px;
    height: 38px;
  }
}
@media (max-width: 800px) {
  .activities-info-empty-square-second {
    top: 35px;
    left: 25px;
  }
}
.activities-info-empty-square-third {
  position: absolute;
  width: 78px;
  height: 78px;
  border: 1px solid #FFFFFF;
  top: 96px;
  left: 30px;
}
@media (max-width: 800px) {
  .activities-info-empty-square-third {
    width: 38px;
    height: 38px;
  }
}
@media (max-width: 800px) {
  .activities-info-empty-square-third {
    top: 50px;
    left: 5px;
  }
}
.activities-info-blue-square {
  width: 78px;
  height: 78px;
  background: #1C427E;
  margin-bottom: 60px;
  transition: 0.3s;
}
@media (max-width: 800px) {
  .activities-info-blue-square {
    width: 38px;
    height: 38px;
  }
}
.activities-info-orange-square {
  width: 78px;
  height: 78px;
  background: #FF781F;
  margin-left: 40px;
  margin-bottom: 20px;
  transition: 0.3s;
}
@media (max-width: 800px) {
  .activities-info-orange-square {
    width: 38px;
    height: 38px;
  }
}
.activities-info-pink-square {
  width: 70px;
  height: 70px;
  background: #DF3B96;
  margin-left: 4.7px;
  margin-bottom: 35px;
  transition: 0.3s;
}
@media (max-width: 800px) {
  .activities-info-pink-square {
    width: 38px;
    height: 38px;
  }
}
.activities-info-blue {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 10px 30px 40px 30px;
  border: 1px dotted rgba(255, 255, 255, 0.5);
  border-top: none;
  border-right: none;
  border-bottom: none;
}
.activities-info-blue:hover .activities-info-blue-square {
  transform: rotate(45deg) translate(2.6rem, 0rem);
}
@media (max-width: 800px) {
  .activities-info-blue {
    width: 100%;
    padding: 50px 0;
    border-left: none;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
  }
  .activities-info-blue:hover .activities-info-blue-square {
    transform: rotate(45deg) translate(1.2rem, 0rem);
  }
}
.activities-info-orange {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 192px 30px 100px 30px;
  border: 1px dotted rgba(255, 255, 255, 0.5);
  border-top: none;
  border-right: none;
  border-bottom: none;
}
.activities-info-orange:hover .activities-info-orange-square {
  transform: rotate(-45deg) translate(1.875rem, -0.5rem) scale(0.75);
}
@media (max-width: 800px) {
  .activities-info-orange {
    width: 100%;
    padding: 50px 0;
    border-left: none;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
  }
  .activities-info-orange:hover .activities-info-orange-square {
    transform: rotate(-45deg) translate(0.8rem, -0.5rem) scale(0.75);
  }
}
.activities-info-pink {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 100px 30px;
  border: 1px dotted rgba(255, 255, 255, 0.5);
  border-top: none;
  border-bottom: none;
}
.activities-info-pink:hover .activities-info-pink-square {
  transform: scale(1.1) rotate(45deg);
}
@media (max-width: 800px) {
  .activities-info-pink {
    width: 100%;
    padding: 50px 0;
    border: none;
  }
}

.video {
  max-width: 1900px;
  padding: 0 32px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
@media (max-width: 800px) {
  .video {
    padding: 0 20px;
  }
}
.video-img-container {
  position: relative;
  width: 63.4vw;
  height: 42.2vw;
  margin-inline: auto;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .video-img-container {
    width: 100%;
    height: 100%;
  }
}
.video-img-container::before {
  content: "MOVIMENTE GRAPHICS STUDIO SHOW";
  position: absolute;
  transform: rotate(90deg);
  left: -160px;
  top: 132px;
}
@media (max-width: 800px) {
  .video-img-container::before {
    display: none;
  }
}
.video-img-container::after {
  content: "";
  display: block;
  position: absolute;
  width: 256px;
  height: 256px;
  background: #1C427E;
  right: -20px;
  bottom: -20px;
  z-index: -1;
}
@media (max-width: 800px) {
  .video-img-container::after {
    display: none;
  }
}
.video-img-container h3 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #D1D1D1;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
}
.video-img-container h3::before {
  content: "";
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -80px;
  left: 0;
  right: 0;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #DC493A;
  transition: 0.3s;
  z-index: -1;
}
@media (max-width: 800px) {
  .video-img-container h3::before {
    top: -30px;
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 800px) {
  .video-img-container h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    word-break: break-word;
    word-wrap: break-word;
  }
}
.video-img-container:hover ::before {
  transform: scale(1.1);
}
.video-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999999;
  display: none;
}
.video-modal-container.ativo {
  display: flex;
}
.video-modal-container .btn-close {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.video-modal-container .btn-close:hover {
  border-color: #FFFFFF;
}
.video-modal-container .btn-close:hover .btn-close-line-1 {
  background: #FFFFFF;
}
.video-modal-container .btn-close:hover .btn-close-line-2 {
  background: #FFFFFF;
}
.video-modal-container .btn-close-line-1 {
  margin-inline: auto;
  margin-bottom: 6px;
  width: 30px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(-45deg) translate(-3px, 3px);
  transition: 0.2s;
}
.video-modal-container .btn-close-line-2 {
  margin-inline: auto;
  width: 30px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(45deg) translate(-3px, -3px);
  transition: 0.2s;
}
.video-modal-container-iframe {
  width: 80vw;
  height: 45vw;
  margin-inline: auto;
}
.video-modal-container iframe {
  width: 100%;
  height: 100%;
}

.links {
  color: #CECECE;
  font-size: 1.25rem;
  line-height: 1.875rem;
  position: relative;
  font-size: 1rem;
  line-height: 1.5rem;
}
.links::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 1px;
  background: #CECECE;
  transition: 0.3s;
}
.links:hover::after {
  width: 0%;
  left: 100%;
}
.links::before {
  content: "";
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  left: 0;
  right: 0;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  transition: 0.3s;
  z-index: -1;
}
.links:hover::before {
  transform: scale(30);
  background: #DC493A;
}
.links-expanded {
  display: block;
  width: 100%;
  margin-inline: auto;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  padding: 15px 10px;
}
.links-expanded::before {
  top: 25px;
}
.links-expanded::after {
  content: none;
}

.btn-menu {
  width: 64px;
  height: 64px;
  display: block;
  background: none;
  cursor: pointer;
  border: none;
  background: #C4E5F6;
  border-radius: 50%;
  transition: 0.3s;
}
.btn-menu:hover {
  background: #98d2ef;
}
.btn-menu-container {
  max-width: max-content;
  margin: 0 auto;
}
.btn-menu-big-line {
  width: 30px;
  height: 3px;
  margin-left: auto;
  background: #000000;
  transition: 0.3s;
}
.btn-menu-big-line.ativo {
  width: 20px;
}
.btn-menu-small-line {
  width: 25px;
  height: 3px;
  background: #000000;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.3s;
}
.btn-menu-small-line.ativo {
  width: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: #121212;
  color: #D1D1D1;
  margin-bottom: 200px;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  max-width: max-content;
  color: currentColor;
}

/*# sourceMappingURL=app.css.map */
