@use "../2-layouts/layout-mixins" as lm;
@use "../1-base/variables" as bv;
@use "../1-base/text-font" as btf;
@use "../1-base/base-mixin" as bm;

@mixin form-newsletter {
  .form {
    width: 100%;
    display: flex;
    align-items: center;

    @include bm.responsive(400px) {
      flex-direction: column;
      gap: 15px;
    }

    input {
      border: none;
      height: 48px;
      outline: none;
    }

    .input-text {
      width: 70%;
      @include btf.text-font-1;
      color: bv.$placeholder-color;
      opacity: 0.8;
      background: bv.$text-color;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      padding-left: 25px;

      @include bm.responsive(400px) {
        width: 100%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }

      &::placeholder {
        @include btf.text-font-1;
        color: bv.$placeholder-color;
        opacity: 0.8;
      }
    }
  }
}
