@use "../1-base/base-mixin" as bm;

@mixin menu-animation {
  position: static;
  width: 100%;
  margin-top: 30px;
  height: 0;
  transition: 0.4s;
  visibility: hidden;
  overflow-y: hidden;

  &.ativo {
    height: 41vh;
    visibility: visible;

    @include bm.responsive(450px) {
      height: 58vh;
    }
  }
}
