@use "../1-base/variables" as bv;
@use "../1-base/base-mixin" as bm;
@use "../3-modules/center-position-absolute" as mcpa;

@mixin text-img-animation {
  @include mcpa.fifty-position-absolute;

  &::before {
    @include mcpa.fifty-position-absolute;
    z-index: -1;
    content: "";
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: bv.$circle-red-color;
    transition: 0.3s;

    @include bm.responsive() {
      width: 90px;
      height: 90px;
    }
  }
}
