@use "variables" as bv;

@mixin title-font-1 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

@mixin title-font-2 {
  font-weight: 400;
  font-size: 3.7rem;
  line-height: 3.7rem;
  color: bv.$title-color;
  margin-bottom: 32px;
}

@mixin title-font-3 {
  font-weight: 400;
  font-size: 5.25rem;
  line-height: 5.25rem;
  color: bv.$title-color;
}

@mixin title-font-4 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: bv.$title-color;
}

@mixin title-font-5 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  color: bv.$title-color;
}

@mixin text-font-1 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin text-font-2 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: bv.$text-color;
}

@mixin text-font-3 {
  font-weight: 400;
  font-size: 3.69rem;
  line-height: 4.25rem;
  color: bv.$text-color;
}

@mixin text-font-4 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.56rem;
  color: bv.$text-color;
}

@mixin text-font-5 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  color: bv.$bright-color;
}

@mixin text-font-6 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

@mixin text-font-7 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}

@mixin text-font-8 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
}

@mixin text-font-9 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.56rem;
}