$light-color: #FFFFFF;
$bright-color: #EAE8E4;
$dark-color: #000000;
$body-bg-color: #121212;
$modal-bg-color: #2E2E2E;
$placeholder-color: #212529;
$btn-form-color: #7A7A7A;
$modal-btn-color: rgba(255, 255, 255, 0.5);
$title-color: #C4E5F6;
$text-color: #D1D1D1;
$links-color: #CECECE;
$circle-red-color: #DC493A;
$square-blue-color: #1C427E;
$square-orange-color: #FF781F;
$square-pink-color: #DF3B96;
