@use "layout-mixins" as lm;
@use "../1-base/variables" as bv;
@use "../1-base/text-font" as btf;
@use "../1-base/base-mixin" as bm;
@use "../3-modules/center-position-absolute" as mcpa;

.blockquote {
  @include lm.center-content-menu;
  margin-bottom: 160px;

  @include bm.responsive {
    margin-bottom: 100px;
  }

  &-container {
    width: 80%;
    margin-inline: auto;

    @include bm.responsive {
      width: 100%;
    }

    &-title {
      @include btf.text-font-4;
      text-transform: uppercase;
      margin-bottom: 24px;

      @include bm.responsive {
        @include btf.text-font-8;
      }
    }

    &-text {
      @include btf.text-font-3;
      color: bv.$bright-color;
      position: relative;
      margin-bottom: 30px;

      @include bm.responsive {
        @include btf.title-font-5;
        color: bv.$bright-color;
        margin-bottom: 30px;
      }

      &::after {
        content: "";
        display: block;
        width: 300px;
        height: 300px;
        @include mcpa.sixty-position-absolute;
        border-radius: 50%;
        background: bv.$square-blue-color;
        z-index: -1;

        @include bm.responsive {
          width: 200px;
          height: 200px;
          top: 50%;
        }
      }
    }

    &-name {
      @include btf.title-font-4;
      text-align: end;
      margin-bottom: 15px;

      @include bm.responsive {
        @include btf.title-font-5;
        text-align: left;
      }
    }

    &-ceo {
      @include btf.text-font-1;
      text-align: right;

      @include bm.responsive {
        text-align: left;
      }
    }
  }
}
