@use "layout-mixins" as lm;
@use "../1-base/variables" as bv;
@use "../1-base/base-mixin" as bm;
@use "../1-base/text-font" as btf;
@use "../3-modules/square-animations" as msa;
@use "../3-modules/square-creations" as msc;

$cards: moon, mask, sparkle, neon;

.cards {
  @include lm.center-card-section;

  &-box {
    width: 100%;
    border-left: 1px dotted bv.$modal-btn-color;
    padding: 0 35px 80px 35px;

    @include bm.responsive(1050px) {
      border: none;
      padding: 0;
    }

    &.neon {
      border-right: 1px dotted bv.$modal-btn-color;

      @include bm.responsive(1050px) {
        border: none;
      }
    }

    @each $itens in $cards {
      .cards-box-#{$itens} {
        transition: 0.5s;
      }

      @each $itens in $cards {
        &:hover .cards-box-#{$itens} {
          transform: translateY(-3rem) scale(1.02);

          @include bm.responsive(1050px) {
            transform: translateY(0rem) scale(1.02);
          }
        }
      }

      img[src$="jpeg"] {
        width: 100%;
        height: 75%;
        transform: skewY(2deg);
        margin-bottom: 40px;
      }

      h3 {
        @include btf.title-font-4;
        color: bv.$title-color;
        max-width: 15ch;
        margin-bottom: 10px;

        @include bm.responsive {
          @include btf.title-font-5;
        }
      }

      p {
        @include btf.text-font-1;
        max-width: 35ch;
      }
    }
  }
}
