@use "layout-mixins" as lm;
@use "../1-base/variables" as bv;
@use "../1-base/base-mixin" as bm;
@use "../1-base/text-font" as btf;
@use "../3-modules/square-animations" as msa;
@use "../3-modules/square-creations" as msc;

.cards {
  max-width: 1900px;
  padding: 0 32px;
  display: flex;
  justify-content: center;

  @include bm.responsive(1050px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @include bm.responsive(500px) {
    grid-template-columns: 1fr;
  }

  &-box {
    width: 100%;
    border-left: 1px dotted bv.$modal-btn-color;
    padding: 0 35px 80px 35px;

    @include bm.responsive(1050px) {
      border: none;
      padding: 0;
    }

    &.neon {
      border-right: 1px dotted bv.$modal-btn-color;

      @include bm.responsive(1050px) {
        border: none;
      }
    }

    .cards-box-moon,
    .cards-box-mask,
    .cards-box-sparkle,
    .cards-box-neon {
      transition: 0.5s;
    }
    &:hover .cards-box-moon {
      transform: translateY(-3rem);
      @include bm.responsive(1050px) {
        transform: translateY(0rem);
        transform: scale(1.01);
      }
    }
    &:hover .cards-box-mask {
      transform: translateY(-3rem);
      @include bm.responsive(1050px) {
        transform: translateY(0rem);
        transform: scale(1.01);
      }
    }
    &:hover .cards-box-sparkle {
      transform: translateY(-3rem);
      @include bm.responsive(1050px) {
        transform: translateY(0rem);
        transform: scale(1.01);
      }
    }
    &:hover .cards-box-neon {
      transform: translateY(-3rem);
      @include bm.responsive(1050px) {
        transform: translateY(0rem);
        transform: scale(1.01);
      }
    }

    img[src$="jpeg"] {
      width: 100%;
      height: 75%;
      transform: skewY(2deg);
      margin-bottom: 40px;
    }

    h3 {
      @include btf.title-font-4;
      max-width: 15ch;
      margin-bottom: 10px;

      @include bm.responsive {
        @include btf.title-font-5;
      }
    }

    p {
      @include btf.text-font-1;
      max-width: 35ch;
    }
  }
}
