@use "layout-mixins" as lm;
@use "../1-base/variables" as bv;
@use "../1-base/base-mixin" as bm;
@use "../1-base/text-font" as btf;
@use "../3-modules/list-details.scss" as mld;

.footer {
  @include lm.recent-center;
  margin-bottom: 80px;

  &-container {
    display: flex;
    justify-content: space-between;

    @include bm.responsive(1090px) {
      flex-direction: column;
      gap: 40px;
    }

    h3 {
      @include btf.text-font-1;
      text-transform: uppercase;
      color: bv.$title-color;
      margin-bottom: 20px;
    }

    .contacts-title {
      text-align: end;

      @include bm.responsive(1090px) {
        text-align: start;
      }
    }

    li {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &:before {
        @include mld.footer-detail;
      }

      a {
        @include btf.title-font-1;
      }
    }

    &-links {
      display: flex;
      flex-wrap: wrap;

      @include bm.responsive(400px) {
        flex-direction: column;
        gap: 10px;
      }
    }

    &-contacts {
      display: flex;
      flex-wrap: wrap;

      @include bm.responsive(400px) {
        flex-direction: column;
        gap: 10px;
      }
    }

    .none-list-detail {
      &:before {
        display: none;

        @include bm.responsive(400px) {
          @include mld.footer-detail;
        }
      }
    }
  }
}
