@use "layout-mixins" as lm;
@use "../1-base/base-mixin" as bm;
@use "../1-base/text-font" as btf;
@use "../1-base/variables" as bv;
@use "../3-modules/menu-animation";
@use "../3-modules/buttons";

$classes: container, big-line, small-line;

.header {
  @include lm.center-content-menu;
  margin-top: 45px;
  margin-bottom: 70px;

  @include bm.responsive {
    margin-bottom: 40px;
  }

  &-nav {
    h1 {
      @include btf.text-font-2;
      font-weight: 700;
      max-height: max-content;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-list {
        @include lm.flex-menu;

        &-itens {
          @include lm.flex-menu;

          @include bm.responsive {
            display: none;
          }
        }
      }

      .btn-menu {
        @extend %btn-menu-burger;

        @each $itens in $classes {
          &-#{$itens} {
            @extend %#{$itens}-burger;
          }
        }
      }
    }

    &-list-expanded {
      @include lm.flex-menu;
      @extend %menu-animation;
      padding: 0 20px;
      flex-direction: column;
      gap: 10px;

      li {
        border-bottom: 1px dotted rgba(255, 255, 255, 0.5);

        @include bm.responsive {
          width: 100%;
          margin-inline: auto;
        }

        a {
          @include bm.responsive {
            max-width: 100%;
          }
        }
      }
    }
  }
}
