@use "../1-base/base-mixin" as bm;

@mixin center-card-section {
  max-width: 1900px;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  margin-bottom: 160px;

  @include bm.responsive(1050px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @include bm.responsive {
    margin-bottom: 100px;
  }

  @include bm.responsive(500px) {
    grid-template-columns: 1fr;
  }
}

@mixin center-content-sections {
  max-width: 1900px;
  padding: 0 32px;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 160px;

  @include bm.responsive {
    padding: 0 20px;
    margin-bottom: 100px;
  }
}

@mixin flex-content-sections {
  max-width: 1900px;
  display: flex;
  gap: 50px;

  @include bm.responsive {
    margin-bottom: 100px;
  }
}

@mixin center-content-menu {
  max-width: 1850px;
  padding: 0 32px;
  margin-inline: auto;
  margin-bottom: 160px;

  @include bm.responsive {
    padding: 0 20px;
    margin-bottom: 100px;
  }
}

@mixin flex-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

@mixin menu-animation {
  position: static;
  width: 100%;
  margin-top: 30px;
  height: 0;
  transition: 0.4s;
  visibility: hidden;
  overflow-y: hidden;

  &.ativo {
    height: 35vh;
    visibility: visible;
  }
}
