@use "layout-mixins" as lm;
@use "../1-base/base-mixin" as bm;
@use "../1-base/text-font" as btf;
@use "../3-modules/keyframes-mixins" as mk;
@use "../3-modules/img-animation";

.main {
  @include lm.center-flex-section;
  margin-bottom: 160px;

  @include bm.responsive {
    margin-bottom: 100px;
  }

  &-picture {
    overflow: hidden;

    img {
      @extend %opacity-animation;

      &:hover {
        @include mk.keyframes(fade) {
          from {
            opacity: 0.2;
          }
          to {
            opacity: 1;
          }
        }
        @include mk.animate(fade, 1s, linear, 1);
      }
    }

    @include bm.responsive {
      margin-bottom: 50px;
    }
  }

  @include bm.responsive {
    display: block;
  }

  &-text {
    align-self: center;
    padding-right: 120px;

    @include bm.responsive(1700px) {
      padding-right: 60px;
    }

    h2 {
      @include btf.title-font-2;
      max-width: 20ch;
      margin-bottom: 32px;

      @include bm.responsive {
        max-width: 100%;
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }

    p {
      @include btf.text-font-1;
      max-width: 45ch;
      margin-bottom: 32px;

      @include bm.responsive {
        max-width: 100%;
      }
    }

    a {
      @include btf.title-font-1;

      &::before {
        top: 15px;
      }
    }
  }
}
